#zotero-wakatime-dashboard-button {
  margin-inline-start: 8px;
  margin-inline-end: 10px;
  padding-inline: 3px;
}

#zotero-wakatime-dashboard-button .toolbarbutton-icon {
  width: 18px;
  height: 18px;
  margin-inline-end: 5px;
}

#zotero-wakatime-dashboard-button .toolbarbutton-text {
  margin-inline-start: 0;
  line-height: 18px;
}
